/* =========================
    FEATURE COUNT PANEL
========================= */

.feature-count {
	width: 100%;
	box-sizing: border-box;

	color: #ecf0f1;

	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}

.map-ribbon-content {
	display: flex;
	align-items: center;
	width: 100%;
}

/* Text */
.map-ribbon-content p {
	margin: 0;
	font-size: 12px;
}

.current-project {
	display: flex;
}

/* =========================
    ITEM ROW
========================= */

.feature-counter {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-left: auto;
}

.version-tag {
	margin: 0;
	font-size: 0.8rem;
	color: #aaa;
	gap: 12px;
}
